@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body , #root  {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.header {
  background-color: black;
  color: #fff;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header__title {
  color: white;
  text-decoration: underline black;
  font-family: 'Abril Fatface', cursive;
  font-weight: 500;
  line-height: 0.9;
  font-size: 2rem;
  margin-left: 4rem;
}

.header__link {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  padding-right: 1rem;
}

main {
  flex-grow: 1;
  padding: 0.5rem;
}

main h2 {
  display: flex;
  justify-content: center;
}

footer {
  background-color: black;
  color: #fff;
  padding: 1rem 0.5rem;
  font-size: 0.75rem;
}

footer p {
  display: flex;
  justify-content: center;
}

.cart__amount {
  position: absolute;
    top: 15px;
    right: 75px;
    color: black;
    font-size: 16px;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}

.nav {
  margin-right: 4rem;
}

.carta {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 350px;
  margin: auto auto 25px auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.price {
  color: black;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}

.carta button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.cardTitle {
  font-family: 'Montserrat', sans-serif;
  margin-top: 8px;
  font-size: 18px;
}

.cardImg {
  width:325px; 
  height:325px; 
  object-fit:cover;
}

.catStyle {
  font-weight: 600;
}

.info {
  padding: 1rem;
  border: black 1px solid;
}

.productInfo h1, h4, p, span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
}

.productInfo h1{
  margin-bottom: 0;
}

.productInfo .desc {
  margin: 25px 0;
  text-align: center;
}

.productInfo span {
  font-weight: 700;
  font-size: x-large;
}

.productInfo {
  margin-top: 10px;
}

.count {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.finalBtn {
  margin-top: 10px;
  margin-left: 40.6%;
}

.itemCount .btn2, .btn3 {
  align-items: center;
}

.btn3 {
  margin-left: 10px;
}

.fbtn {
  display: flex;
  justify-content: center;
}

.pbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemCount {
  margin-top: 10px;
}

.abtn {
  background-color: #212529;
  border: 0;
}

.btn:disabled {
  background-color: #212529;
}

.abtn:hover {
  background-color: #6c757d;
}

.cardM {
  margin: 0 5px;
}

main .container .row h2 {
  margin: 25px 0;
}




.cartAlign div{
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.imgCart{
  aspect-ratio: 2/2;
  object-fit:cover;
  width: 100%;
}

.detailAlign div{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  justify-content: center;
}

.btnCart button,
.btnCart a{
  width: 8rem;
  margin-right:1rem;
}

.loadingPages{
  padding-top: 2rem;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
}

.formCheckout label {
  margin-top: 1rem;
}

.formCheckout Button {
  margin: 1rem 0;
}

.checkoutAlign,
.marginCard{
  margin: 1rem;
}

.cardBtn a {
  text-decoration: none;
  color: white;
}

.carta p {
  margin-bottom: 0.5rem;
}

.carta h1 {
  margin-bottom: 0;
}

.mainCss h2 {
  font-family: 'Montserrat', sans-serif;
}

nav a {
  text-transform: uppercase;
  color: white;
}

.nav-link {
  color: white;
}

.paddingTop{
  padding-top: 2rem;
}

.material-icons {
  line-height: 1.5;
}